@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }

  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-950 text-gray-100;
  }
}

@layer components {
  .container-xl {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
